<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
        <nav class="flex-nav">
            <a class="nav-list-item" href="/vino-italiano">Home</a>
            <a class="nav-list-item" href="/vino-italiano/shades">Vino</a>
            <a class='nav-list-item' href="/vino-italiano/search">Search</a>
            <a class="nav-list-item" href="/vino-italiano/users/logout">Logout</a>
        </nav>
    </header>
    <div class="dashboard-wrapper">
        <div class="dashboard-second-wrapper">
            <h2 class="dashboard-title">Welcome, <%=user.firstName%>!</h2>
            <p>The email you provided to us is <span class="user-email"><%=user.email%></span></p>
        </div>
        <div class="dashboard-favorites-wrapper">
            <img src="https://i.imgur.com/gU2lxAA.png" width="30px" height="30px"/>
            <h3 class="favorites-title">Favorites</h3>
            <div class="favorites">
                <% console.log(user) %>
                <% if(user.favorites.length > 0) { %>
                    <% user.favorites.forEach(favorite => { %>
                        <div class="uppercase-word favorite-item"><%=favorite.varietal%></div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>