<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
        <nav class="flex-nav">
            <a class="nav-list-item" href="/vino-italiano">Home</a>
            <a class="nav-list-item" href="/vino-italiano/shades">Vino</a>
            <a class="nav-list-item" href="/vino-italiano/<%=foundWine._id%>">Back to <%=foundWine.varietal%></a>
        </nav>
    </header>
    <div class="edit-wrapper">
        <div class="edit-form-wrapper">
            <div class="edit-title">Edit <%=foundWine.varietal%></div>
            <form action="/vino-italiano/<%=foundWine._id%>?_method=PUT" method="POST">
                <div class="edit-form-flex">
                    <div class="edit-item">
                        <label>
                            Region:
                            <input class="edit-input" type="text" name="region" value="<%=foundWine.region%>"/>
                        </label>
                    </div>
                    <div class="edit-item">
                        <label>
                            Description:
                            <input class="edit-input" type="text" name="description" value="<%=foundWine.description%>"/>
                        </label>
                    </div>
                    <div class="edit-item">
                        <input type="submit" value="Submit"/>
                    </div>
                </form>
        </div>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>