<%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
    </header>
    <nav>
        <a href="/vino-italiano">Home</a>
        <a href="/vino-italiano/shades">Vino</a>
        <a href="/vino-italiano/<%=foundWine._id%>">Back to <%=foundWine.varietal%></a>
    </nav>

    <form action="/vino-italiano/<%=foundWine._id%>?_method=PUT" method="POST">
        <label>
            Region:
            <input type="text" name="region" value="<%=foundWine.region%>"/>
        </label>
        <label>
            Description:
            <input type="text" name="description" value="<%=foundWine.description%>"/>
        </label>
        <input type="submit" value="Submit"/>
    </form>
    <%- include("./partials/footer.ejs")%>
</body>
</html>