<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
        <nav class="flex-nav">
            <a class="nav-list-item" href="/vino-italiano">Home</a>
            <a class="nav-list-item" href="/vino-italiano/shades">Vino</a>
            <a class="nav-list-item" href="/vino-italiano/redIndex/new">New Vino Rosso</a>
        </nav>
    </header>
    <h2>Vino Rosso</h2>
    <% allReds.forEach(red => { %>
    <ul>
        <li>
            <a href="/vino-italiano/<%=red._id%>">
                <img src="<%= red.img %>" alt="red wine img" width="290px" height="350px"/>
            </a>    
        </li>
        <li><%= red.varietal %></li>
    </ul>
    <% }); %>
    <%- include("./partials/footer.ejs")%>
</body>
</html>