<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
        <nav class="flex-nav">
            <a class="nav-list-item" href="/vino-italiano">Home</a>
            <a class="nav-list-item" href="/vino-italiano/shades">Vino</a>
            <a class="nav-list-item" href="/vino-italiano/redIndex/new">New Vino Rosso</a>
        </nav>
    </header>
    <div class="wrapper">
        <div class="wine-wrapper">
            <% allReds.forEach(red => { %>
                <a href="/vino-italiano/<%=red._id%>">
                    <div class="ind-wine">
                        <p>
                            <img class="index-img" src="<%= red.img %>" alt="red wine img" width="290px" height="350px"/>
                        </p>    
                        <div class="wine-name-index"><%= red.varietal %></div>
                    </div>
                </a>    
            <% }); %>
        </div>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>