<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= foundWine.varietal %> | Vino Italiano</title>
</head>
<body>
    <header>
        <h1><%= foundWine.varietal %></h1>
    </header>
    <nav>
        <a href="/vino-italiano">Home</a>
        <a href="/vino-italiano/shades">Vino</a>
        <% if (foundWine.shade === "Red") { %>
            <a href="/vino-italiano/redIndex">Back to Vino Rosso</a>
        <% } else { %>    
            <a href="/vino-italiano/whiteIndex">Back to Vino Bianco</a>
        <% } %>    
    </nav>
    
    <p><img src="<%=foundWine.img%>" alt="found wine image" width="290px" height="350px"/></p>
    <p><%=foundWine.varietal%></p>
    <p><%=foundWine.region%></p>
    <p><%=foundWine.description%></p>

    <a href="/vino-italiano/<%=foundWine._id%>/edit">Edit</a>
    <form action="/vino-italiano/<%=foundWine._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete"/>
    </form>

    <footer>
        <p>Copyright &copy; All Rights Reserved</p>
        <p>2021 Vino Italiano</p>
    </footer>
</body>
</html>