<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
        <nav class="flex-nav">
            <a class="nav-list-item" href="/vino-italiano">Home</a>
            <a class="nav-list-item" href="/vino-italiano/shades">Vino</a>
            <a class='nav-list-item' href="/vino-italiano/search">Search</a>
            <% if (foundWine.shade === "red") { %>
                <a class="nav-list-item" href="/vino-italiano/redIndex">Back to Vino Rosso</a>
            <% } else { %>    
                <a class="nav-list-item" href="/vino-italiano/whiteIndex">Back to Vino Bianco</a>
            <% } %>
            <% if(user) { %>
                <a class="nav-list-item" href="/vino-italiano/users/logout">Logout</a>
            <% } else { %>
                <a class="nav-list-item" href="/vino-italiano/users/login">Login</a>
                <a class="nav-list-item" href="/vino-italiano/users/signup">Signup</a>
            <% } %>
        </nav>
    </header>
    <div class="show-wrapper">
        <div class="show-img-box">
            <img class="show-img" src="<%=foundWine.img%>" alt="found wine image" width="290px" height="350px"/>
        </div>
        <div class="show-detail-wrapper">
            <div class="detail-box">

                <form action="/vino-italiano/users/dashboard" method="POST">
                    <h2 class="uppercase-word"><%=foundWine.varietal%></h2>
                    <input type="hidden" value="<%=foundWine.varietal%>"/>
                </form>

                <p class="uppercase-word"><%=foundWine.region%></p>
                <p><%=foundWine.description%></p>
                <div class="button-wrapper">
                    <div><a class="edit-button edit-button-text" href="/vino-italiano/<%=foundWine._id%>/edit">Edit</a></div>
                    <form class="inline-form" action="/vino-italiano/<%=foundWine._id%>?_method=DELETE" method="POST">
                        <input class="delete-button inline-input" type="submit" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>