<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
    </header>
    <nav>
        <a href="/vino-italiano">Home</a>
        <a href="/vino-italiano/shades">Vino</a>
        <a href="/vino-italiano/whiteIndex/new">New Vino Bianco</a>
    </nav>
    <div class="wrapper">
        <div class="wine-wrapper">
            <% allWhites.forEach(white => { %>
                <a href="/vino-italiano/<%=white._id%>">
                    <div class="ind-wine">
                        <p>
                            <img class="index-img" src="<%= white.img %>" alt="white wine img" width="290px" height="350px"/>
                        </p>
                        <div class="wine-name-index"><strong><%= white.varietal %></strong></div>
                    </div>
                </a>
            <% }); %>
        </div>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>