<%-include("./partials/head.ejs")%>
<body>
    <header>
        <h1>Vino Italiano</h1>
    </header>
    <nav>
        <a href="/vino-italiano">Home</a>
        <a href="/vino-italiano/shades">Vino</a>
        <a href="/vino-italiano/whiteIndex/new">New Vino Bianco</a>
    </nav>
    <h2>Vino Bianco</h2>
    <% allWhites.forEach(white => { %>
        <ul>
            <li>
                <a href="/vino-italiano/<%=white._id%>">
                    <img src="<%= white.img %>" alt="white wine img" width="290px" height="350px"/>
                </a>    
            </li>
            <li><%= white.varietal %></li>
        </ul>
    <% }); %>
    <%- include("./partials/footer.ejs")%>
</body>
</html>